# Tuples

In [1]:
t = ()

In [2]:
type(t)

tuple

In [3]:
t1 = (1,2,3,'anmol',9+8j,True)
t1

(1, 2, 3, 'anmol', (9+8j), True)

In [5]:
t1[3]

'anmol'

In [7]:
t1[0:4]

(1, 2, 3, 'anmol')

In [8]:
t1[::-1]

(True, (9+8j), 'anmol', 3, 2, 1)

In [9]:
t1

(1, 2, 3, 'anmol', (9+8j), True)

In [11]:
t2 = (11,22,33)

In [14]:
t1+t2 
# tuple is immutable however we can perform above operation

(1, 2, 3, 'anmol', (9+8j), True, 11, 22, 33)

In [15]:
t1

(1, 2, 3, 'anmol', (9+8j), True)

In [16]:
t1.append(33333)
# immuatble tuple

AttributeError: 'tuple' object has no attribute 'append'

In [17]:
t1*4

(1,
 2,
 3,
 'anmol',
 (9+8j),
 True,
 1,
 2,
 3,
 'anmol',
 (9+8j),
 True,
 1,
 2,
 3,
 'anmol',
 (9+8j),
 True,
 1,
 2,
 3,
 'anmol',
 (9+8j),
 True)

In [18]:
t1

(1, 2, 3, 'anmol', (9+8j), True)

In [19]:
'anmol' in t1

True

In [20]:
'anmol  ' in t1

False

In [21]:
t1

(1, 2, 3, 'anmol', (9+8j), True)

In [23]:
t3 = (11,22,33,44,55,66)

In [24]:
max(t3)
# max can only works on sazme kind of data type

66

In [26]:
t1.count(2)

1

In [27]:
t1.index('anmol')
# index() don't give value of repeated present in tuple

3

In [28]:
t1

(1, 2, 3, 'anmol', (9+8j), True)

In [30]:
t1 = (1, 2, 3, 'anmol', (9+8j), True,1,1,1,1,)
t1.index(1)
# index() don't give value of repeated present in tuple
# direct insertion in tuple is not possible

0

In [32]:
t1.count(1)

6

In [33]:
t3 = (11,22,33,44,55,66)
min(t3)

11

In [ ]:
#convert tuple into list

In [36]:
l = list(t3)
type(l)

list

In [37]:
l

[11, 22, 33, 44, 55, 66]

In [39]:
l.insert(3,56)

In [40]:
l

[11, 22, 33, 56, 44, 55, 66]

In [43]:
u = tuple(l)
type(u)

tuple

In [46]:
t = ((1,2,3,4,5),(11,22,33,44,55),('anmol',111,2222,3333),9, [88,66,77])
t

((1, 2, 3, 4, 5),
 (11, 22, 33, 44, 55),
 ('anmol', 111, 2222, 3333),
 9,
 [88, 66, 77])

In [47]:
t[4][1]
# fectching 66 from nested list

66

In [48]:
t[2][::-1]

(3333, 2222, 111, 'anmol')

In [49]:
for i in t:
    print(i)

(1, 2, 3, 4, 5)
(11, 22, 33, 44, 55)
('anmol', 111, 2222, 3333)
9
[88, 66, 77]

In [50]:
# if it is tuple extracting 1st element of given data
for i in t:
    if type(i)==tuple:
        print(i[0])

1
11
anmol

In [51]:
# check if elements of both tuple is same or not
t1 = (1, 2, 3, 'anmol', (9+8j), True)
t2 = (11,22,33,44,55,66,77,88,99)

In [52]:
if len(t1) == len(t2):
    print("lenght is same")
else:
    print("lenght is not same")

lenght is not same

In [54]:
t = (234,34,'anmol',3.45,34,34,34,True,'vaid')
i = input("Please enter name to be searched ")
if i in t:
    print("yes this name is avaiable ")
else:
    print("yes this name is not avaiable ")

Please enter name to be searchedkjh
yes this name is not avaiable

In [55]:
t = (234,34,'anmol',3.45,34,34,34,True,'vaid')

In [57]:
t5 = (33,44,55)

In [58]:
del(t5)

In [59]:
t5 # del has deleted t5

NameError: name 't5' is not defined

# Set
It is as similar to what we have studied in maths.It has unique elements

In [62]:
x = set()
type(x)

set

In [66]:
l = [1,2,3,4,1,1,1,2,2,2,'anmol',44,'anmol','Anmol']
# delete repeated elements

In [70]:
s = set(l)
# set() is used to get rid of repeated elements however case sentivity matter while performing operations

In [71]:
type(s)

set

In [72]:
44 in s

True

In [74]:
s.[2]
# we can't access elements of sets using indexing as can be done i9n case of tuple and list.

SyntaxError: invalid syntax (<ipython-input-74-427e4cba1129>, line 1)

In [ ]:
# set is not collection of ordered data

In [76]:
s = set()
s

set()

In [77]:
s.add(44)

In [78]:
s

{44}

In [79]:
s.add('anmol')

In [80]:
s

{44, 'anmol'}

In [81]:
s.add([11,22,33])
# list can't be added into set

TypeError: unhashable type: 'list'

In [84]:
l = [[11,22],[22,33]]
s = set(l)
# list can't be added into set

TypeError: unhashable type: 'list'

In [85]:
s.remove('anmol')

In [86]:
s

{44}

In [87]:
'anmol' in s

False

In [88]:
s.clear()
# clear() is used to clear list

In [89]:
s

set()

In [92]:
s = {1,2,3,4,'anmol'}

In [93]:
l = [1,22,3,111,33,44,2,3,4]

In [94]:
s1 = set(l)

In [95]:
s + s1
# we can't use + to concatenate 2 sets

TypeError: unsupported operand type(s) for +: 'set' and 'set'

In [96]:
s*5
# above operation is not allowed in set

TypeError: unsupported operand type(s) for *: 'set' and 'int'

In [97]:
l = list(s)
# set converted intyo list

In [98]:
l

[1, 2, 3, 4, 'anmol']

In [100]:
s = set(l)
s

{1, 2, 3, 4, 'anmol'}

# Dictionary 
key and value pair, key is always unqiue

In [101]:
x = {}
type(x)

dict

In [102]:
x1 = {11,22}
type(x1)

set

In [103]:
x = {'Name':"Anmol",'age':25}
x

{'Name': 'Anmol', 'age': 25}

In [104]:
type(x)

dict

In [108]:
x = {'name':"Anmol",'age':25,'name':'vaid',True:123,"key": 3+9j}
x
# we can see that last name which is encountered will be printed. So that's why we get vaid in front of name.

{'name': 'vaid', 'age': 25, True: 123, 'key': (3+9j)}

In [109]:
# special case characters are not allowed
x = {'name':"Anmol",'age':25,'name':'vaid',True:123,"key": 3+9j, % : 44}

SyntaxError: invalid syntax (<ipython-input-109-82328d3498f3>, line 2)

In [110]:
x = {'name':"Anmol",'age':25,'name':'vaid',True:123,"key": 3+9j, %_9 : 44}

SyntaxError: invalid syntax (<ipython-input-110-23df8af26b6c>, line 1)

In [111]:
# values in dictionary can be duplicate
x = {'name':"Anmol",'age':25,'Name':'anmol',True:123,"key": 3+9j}
x

{'name': 'Anmol', 'age': 25, 'Name': 'anmol', True: 123, 'key': (3+9j)}

In [115]:
x = {'name':"Anmol",'age':25,'Name':'anmol',True:123,"key": 3+9j, 'k': [11,22,33],'j': (11,22,33)}
x

{'name': 'Anmol',
 'age': 25,
 'Name': 'anmol',
 True: 123,
 'key': (3+9j),
 'k': [11, 22, 33],
 'j': (11, 22, 33)}

In [116]:
x = {[1,2,3]:'kjh','name':"Anmol",'age':25,'Name':'anmol',True:123,"key": 3+9j}
# list can't have list as key

TypeError: unhashable type: 'list'

In [118]:
x = {(22,2,3):'kjh','name':"Anmol",'age':25,'Name':'anmol',True:123,"key": 3+9j}
x
# Tuple as key is allowed

{(22, 2, 3): 'kjh',
 'name': 'Anmol',
 'age': 25,
 'Name': 'anmol',
 True: 123,
 'key': (3+9j)}

In [119]:
x['name']

'Anmol'

In [121]:
x['key']

(3+9j)

In [122]:
x = {(22,2,3):'kjh','name':[11,22,33,44],'age':25,'Name':'anmol',True:123,"key": 3+9j}

In [123]:
x['name']

[11, 22, 33, 44]

In [124]:
x['name'][2]

33

In [125]:
x['Name']='Hola'
x
# dict is mutable

{(22, 2, 3): 'kjh',
 'name': [11, 22, 33, 44],
 'age': 25,
 'Name': 'Hola',
 True: 123,
 'key': (3+9j)}

In [126]:
x[True] -=10
x

{(22, 2, 3): 'kjh',
 'name': [11, 22, 33, 44],
 'age': 25,
 'Name': 'Hola',
 True: 113,
 'key': (3+9j)}

In [127]:
x.keys()

dict_keys([(22, 2, 3), 'name', 'age', 'Name', True, 'key'])

In [128]:
x.items()

dict_items([((22, 2, 3), 'kjh'), ('name', [11, 22, 33, 44]), ('age', 25), ('Name', 'Hola'), (True, 113), ('key', (3+9j))])

In [129]:
True in x.keys()

True

In [130]:
for i in x:
    print(i)

(22, 2, 3)
name
age
Name
True
key

In [131]:
for i in x.keys():
    print(x[i])

kjh
[11, 22, 33, 44]
25
Hola
113
(3+9j)

In [133]:
x

{(22, 2, 3): 'kjh',
 'name': [11, 22, 33, 44],
 'age': 25,
 'Name': 'Hola',
 True: 113,
 'key': (3+9j)}

In [132]:
for i in x.keys():
    print(type(x[i]))
# data type of each and every elementin dict

<class 'str'>
<class 'list'>
<class 'int'>
<class 'str'>
<class 'int'>
<class 'complex'>

In [134]:
for i in x.items():
    print(i[0])
# we will get keys

(22, 2, 3)
name
age
Name
True
key

In [135]:
for i in x.items():
    print(i[1])
# we will get values

kjh
[11, 22, 33, 44]
25
Hola
113
(3+9j)

In [136]:
x5 = {(11,22):'anmol'}

In [137]:
x5[(11,22)]

'anmol'

In [138]:
len(x)
# gives total no. of keys and values pair

6

In [139]:
data=input("Enter the paragraph-->> ")

# Q1
data_list= data.split(" ")

# Q2
no_duplicate=set(data_list)

# Q3
my_dict={}
for i in no_duplicate:
    my_dict[i]="akshat"
# my_dict

# Q4
tup_list=[]
for i in my_dict.keys():
    tup_list.append(my_dict[i])

print("Tuple List-->> ",tuple(tup_list))


    
# Q5
list_keys=[]
for i in my_dict.keys():
    list_keys.append(i)

print("List Keys-->> ",list_keys)
paragph = input("Enter the para:")
lst1=paragph.split(" ")
s1=set(lst1)
dic1=dict.fromkeys(s1,'db')
t1=tuple(dic1.keys())
l2=list(dic1.values())

Enter the paragraph-->> asd jadbiasb  ahniuafg
Tuple List-->>  ('akshat', 'akshat', 'akshat', 'akshat')
List Keys-->>  ['', 'ahniuafg', 'asd', 'jadbiasb']
Enter the para:asd a sdasd

In [145]:
d = {"company":"inueron","course":"React","year":2021}

In [146]:
for i in d:
    print("print key is :",i,";","value wise : ",d[i])

print key is : company ; value wise :  inueron
print key is : course ; value wise :  React
print key is : year ; value wise :  2021

In [147]:
"course"  in d

True

In [149]:
for i in d:
    if i =="year":
        if d[i] > 2021:
            print('year is fine')
        else:
            d[i]=2022

year is fine