# Functions

def is a keyword that denotes that a function is starting

In [2]:
def test(a,b): # error ocurred as they want body to function.
# we can use pass keyword as shown below to resolve this error.

SyntaxError: unexpected EOF while parsing (<ipython-input-2-d61fa6634b30>, line 2)

In [3]:
def test(a,b):
    pass

In [4]:
test
# when we call a function as shown above it will return an object.

In [5]:
test()
# we get error because we haven't given them it's 2 arguments that we declared when we created function.

TypeError: test() missing 2 required positional arguments: 'a' and 'b'

In [6]:
test(1,2)
# we passeed arguments to avoid errors .

If we want to use this function in other IDE, we need to amke it global. We wwill learn that

In [7]:
def test(a,b):
    print(a+b)

In [8]:
test(99,88)

187

In [10]:
test(66,12)

78

In [11]:
def test1(a,b):
    return a*b

In [12]:
test1(2,3)

6

In [13]:
def test2(m,n):
    return m*10, n*8,m+n
# we can give mutiple values in return statement as shown above and can get correct result as shonw below.

Always use return in funtion, don't use print statement or yiu won't be able to perform function.

In [14]:
test2(6,7)

(60, 56, 13)

In [15]:
test2(6,7)
type(test2(6,7))
# we can get result oin form of tuple.

tuple

In [ ]:
# now we will hold result of above tuples

In [1]:
def test2(m,n):
    return m*10, n*8,m+n

In [4]:
l = test2(7,8)
list(l) # converting tuple into list using list()

[70, 64, 15]

In [5]:
# getting output of return in 3 different variables from a function
def test6(m,n):
    return m*10, n*8,m+n

In [6]:
c,x,v = test6(4,5)

In [7]:
c

40

In [8]:
x

40

In [9]:
v

9

In [10]:
# a place holder underscore _ can be used to not get ouput as shown below.
def test6(m,n):
    return m*10, n*8,m+n

In [15]:
c,x,_ = test6(11,12)

In [16]:
c

110

In [17]:
x

96

In [18]:
_ 
# underscore is not a avriable name, it is s place holder.

23

In [19]:
def boolx(x = True, y = False):
    return x+y

In [20]:
boolx()

1

In [21]:
# now we will overwrite the first value in given function as shown below
boolx(False)
# now x becomes false and 0 +0 = 0

0

In [24]:
boolx(8,1)

9

In [25]:
def travel(bike= True, car = False):
    plan = bike or car
    return bike,car,plan

In [27]:
i,o,p=travel()

In [28]:
i

True

In [29]:
o

False

In [30]:
p

True

In [31]:
# now assigning value at a speific position of argument
travel(car=True)
# now car when assigned value True will display as true, it will overwrite False.

(True, True, True)

In [32]:
# now we will try to pass multiple data and we will compute on that data
# we will use a SPECIAL KEYWORD *args to tell that we want to pass multiple arguments.
# when you don't know how many parameters does your function will take we use *args
def test10(*args):
    return args

In [33]:
test10('anmol',(1,2,3),[11,22,33])

('anmol', (1, 2, 3), [11, 22, 33])

In [66]:
# create a function and pass lists and return all as a single list
def test11(*args):
    l = [] # creating an empty list
    for i in args: # iterating thruogh each element of args
        l = l+i # concatenating elements to a single list
    return l

In [67]:
test11([11,22,33],[1,2,3],[],[3333,44444,5555])

[11, 22, 33, 1, 2, 3, 3333, 44444, 5555]

In [98]:
# create a function take mixed number of data and try to create a list of seperate data based on data types
def test12(*args):
    l=[]
    k=[]
    s=[]
    m=[]
    n=[]
    t=[]
    for i in args: # iterate through each element of args
        if type(i)==int: 
            l.append(i)
        elif type(i)==str: 
            k.append(i)
        elif type(i)==float:
            s.append(i)
        elif type(i)==bool:
            m.append(i)
        elif type(i)==list:
            n = n+i
        
    return l,k,s,m,n

In [99]:
test12(1,2,3,4,'anm','vaid',True,True,False,False,98.198,99.99,[111,222],[1,2,3,'Madhav'],(2,3,4),(99,88,77))

([1, 2, 3, 4],
 ['anm', 'vaid'],
 [98.198, 99.99],
 [True, True, False, False],
 [111, 222, 1, 2, 3, 'Madhav'])

In [ ]:
# create a function which will be able to *args and *kwargs and it will be able to all list values concatenation